{{ if (and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "debian" "ubuntu")) -}}
#!/bin/bash

set -eufo pipefail

echo -e "\033[0;32m>>>>> Begin Setting Up Packages <<<<<\033[0m"

# List of packages to install
debian_packages=(
  code
  colordiff
  curl
  eza
  fish
  git
  irssi
  neovim
  pipx
  python3-pip
  python3-venv
  unzip
)

{{ if not .headless -}}
debian_packages+=(
  fontconfig
  hexchat
  kitty
)
{{ end -}}

for package in "${debian_packages[@]}"; do
  if [[ ! $(dpkg-query -W --showformat='${db:Status-Status}' "$package" 2>&1) = installed ]]; then
    echo "installing debian package $package"
{{ if ne .chezmoi.username "root" }}
    sudo apt install -y $package
    {{ else -}}
    apt install -y $package
{{- end }}
  fi
done

# python3 hash: {{ include "/usr/bin/python3" | sha256sum }}

## devdeck
# note: still have un-upstreamed changes
pipx install -f devdeck
pipx inject --include-apps --include-deps -f devdeck "git+https://github.com/nicdumz/devdeck-core" "git+https://github.com/nicdumz/devdeck" "git+https://github.com/nicdumz/devdeck-key-light" "git+https://github.com/nicdumz/devdeck-hue"
pipx upgrade-all --include-injected -f

## powerline (for tmux)
# there's no pipx version yet
pip3 install --user --upgrade --break-system-packages powerline-status pynvim

echo -e "\033[0;32m>>>>> Finish Setting Up Packages <<<<<\033[0m"
{{ end -}}
