[user]
    name = Nicolas Dumazet
    email = nicdumz.commits@gmail.com
[core]
    editor = vim
    excludesfiles = ~/.gitignore
[github]
    user = nicdumz
[color]
    diff = auto
    status = auto
    branch = auto
[alias]
    ci = commit
    co = checkout
    st = status
    glog = log --graph --decorate --branches=*
    rdiff = diff --relative --no-prefix
[push]
    default = matching
[credential]
    helper = store
