/*
 *       global settings
 *
 * */
*font:             xft:Bitstream Vera Sans Mono-4:scale=2.7
*boldFont:         xft:Bitstream Vera Sans Mono-4:bold:scale=2.7

*background:       black
*foreground:       white
*color0:           #000000
*color8:           #4c4c4c
*color1:           #cd0000
*color9:           #ff0000
*color2:           #00cd00
*color10:          #00ff00
*color3:           #cdcd00
*color11:          #ffff00
*color4:           #1e90ff
*color12:          #4682b4
*color5:           #cd00cd
*color13:          #ff00ff
*color6:           #00cdcd
*color14:          #00ffff
*color7:           #e5e5e5
*color15:          #ffffff

/*
 *       xterm
 *
 * */
xterm*faceName:         Bitstream Vera Sans Mono Roman
xterm*faceSize:         8
xterm*scrollBar:        false
xterm*visualBell:       false

! remove less/vim content after close
XTerm.VT100.titeInhibit:  false

! bold/underline as color?
XTerm*VT100*colorBDMode: off
XTerm.VT100*colorULMode: off

/*
 *       Xft
 *
 * */

Xft.dpi:                 72
Xft.hinting:             1
Xft.hintstyle:           full

/*
 *       urxvt
 *
 * */
URxvt.saveLines:        5000
URxvt.scrollBar:        false
URxvt.scrollTtyKeypress:true
URxvt.urgentOnBell:     true
URxvt.visualBell:        false
URxvt.linespace:        1
