!xterm colors
xterm*background:       black
xterm*foreground:       white
xterm*color0:           #000000
xterm*color8:           #4c4c4c
xterm*color1:           #cd0000
xterm*color9:           #ff0000
xterm*color2:           #00cd00
xterm*color10:          #00ff00
xterm*color3:           #cdcd00
xterm*color11:          #ffff00
xterm*color4:           #1e90ff
xterm*color12:          #4682b4
xterm*color5:           #cd00cd
xterm*color13:          #ff00ff
xterm*color6:           #00cdcd
xterm*color14:          #00ffff
xterm*color7:           #e5e5e5
xterm*color15:          #ffffff

!xterm*faceName:         Inconsolata
!xterm*faceSize:         10
!
xterm*faceName:         Bitstream Vera Sans Mono Roman
xterm*faceSize:         8
!
xterm*scrollBar:        false
xterm*visualBell:       false

! bold/underline as color?
XTerm*VT100*colorBDMode: off
XTerm.VT100*colorULMode: off

Xft.dpi:                 96 

! remove less/vim content after close
XTerm.VT100.titeInhibit:  false
