font_family CaskaydiaCove Nerd Font
{{ if eq .chassistype "desktop" -}}
font_size 15.0
{{ else -}}
font_size 11.0
{{ end -}}
cursor_stop_blinking_after 0
scrollback_lines 20000
open_url_modifiers ctrl

remember_window_size  no
initial_window_width  200c
initial_window_height 48c

include nova-colors.conf
